<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment.html :: headerfiles">
 

</head>

<body>

  <!-- ======= Header ======= -->
  <div th:replace="fragment.html :: sidebar"></div>

 <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Products</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-6 align-self-end">
            <button type="button" class="btn btn-primary float-end mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Add New Products
            </button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
     
              </tr>
            </thead>
            <tbody>
              <tr th:each="products:${products}">
               
                <td th:text="${products.id}"></td>
                <td th:text="${products.name}"></td>
                <td th:text="${products.category.name}"></td>
                <td th:text="${products.costPrice}"></td>
                <td th:text="${products.currentQuantity}"></td>
                <td> <img th:src="@{'/assets/img/' + ${products.image}}" alt="Product Image" style="width:40px;height: 40px;"></td>
                
                <td>
                  <a th:href="@{/product/editproduct/{id}(id=${products.id})}">
                    <button  type="button" id="editbutton" class="btn btn-info editproduct"><i class="bi bi-pencil-fill"></i></button>
                  </a>
                 <a th:href="@{/product/editproduct/{id}(id=${products.id})}">
                  <button type="button" id="deletebutton" class="btn btn-danger deleteproduct"><i class="bi bi-trash3-fill"></i></button>
                 </a>
                  
                </td>
              </tr>
             
            </tbody>
          </table>
          <div th:if = "${success}" class="text-center alert alert-success">
            <p th:text = "${success}"></p>
        </div>
        <div th:if = "${error}" class="text-center alert alert-danger">
            <p th:text = "${error}"></p>
        </div>
        
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Add Products</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form th:action="@{/product/addnew}" method="post"  enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="name" class="form-label">Category</label>
                    <select class="form-select" aria-label="Default select example" id="categoryid" name="category_id" required>
                        
                        <option selected >Choose Category</option>
                        <option th:each="category :${category}"
                        th:value="${category.id}"
                        th:text="${category.name}"></option>
                        
                      </select>
                      </div>
                      <div class="mb-3">
                        <label for="name" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" aria-describedby="emailHelp" name="costPrice" required>
                      </div>
                      <div class="mb-3">
                        <label for="name" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" aria-describedby="emailHelp" name="currentQuantity" required>
                      </div>
                      <div class="mb-3">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control" type="file" id="formFile" name="pimage">
                      </div>
                    
                  
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
              </div>
            </div>
          </div>

          <div class="modal fade" id="editpro" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form th:action="@{/product/update}" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="name" class="form-label">id</label>
                      <input type="text" class="form-control" id="pid" aria-describedby="emailHelp" name="id" readonly>
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" class="form-control" id="pname"  aria-describedby="emailHelp" name="name">
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Category</label>
                  <select class="form-select" aria-label="Default select example" id="pcategoryid" name="category_id">
                      
                      <option selected>Choose Category</option>
                      <option th:each="category :${category}"
                      th:value="${category.id}"
                      th:text="${category.name}"></option>
                      
                    </select>
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Price</label>
                      <input type="text" class="form-control" id="pprice" aria-describedby="emailHelp" name="costPrice">
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Quantity</label>
                      <input type="text" class="form-control" id="pquantity" aria-describedby="emailHelp" name="currentQuantity">
                    </div>

                    <div class="mb-3">
                      <label for="formFile" class="form-label">Default file input example</label>
                      <input class="form-control" type="file" id="pimage" name="pimage">
                    </div>
                  
                    
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
            
              </div>
            </div>
          </div>

            <!--delete modal  -->
            <div class="modal fade" id="deletepro" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form th:action="@{/product/delete}" method="put">
                      <div class="mb-3">
                        <label for="name" class="form-label">id</label>
                        <input type="text" class="form-control" id="eid2" aria-describedby="emailHelp" name="id" readonly>
                      </div>
                      
                      
                      <button type="submit" class="btn btn-primary">Yes, Delete</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </form>
                  </div>
                 
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                    <!-- <a href="" class="btn btn-primary" id="delref">Yes, Delete</a> -->
                    <!-- <button type="button" id="delref" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>


        

        </div>
      </div>

    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <div th:replace="fragment.html :: footer">

 </div>

</body>

</html>